<div class="page-container">
  <div class="sidebar">
    <div class="list-items">
      <a routerLink="/page-1" routerLinkActive="selected" class="list-item">
        <i class="material-icons">bookmark_border</i>
        Page 1
      </a>

      <a routerLink="/page-2" routerLinkActive="selected" class="list-item">
        <i class="material-icons">bookmark_border</i>
        Page 2
      </a>

      <a routerLink="/page-3" routerLinkActive="selected" class="list-item">
        <i class="material-icons">bookmark_border</i>
        Page 3
      </a>
    </div>
  </div>

  <div class="page-content-container">
    <router-outlet></router-outlet>
  </div>
</div>
